<div>
    <ul>
        @foreach (var folder in Folders)
        {
            <FolderItemComponent Folder="folder" />
        }
    </ul>
</div>

@code {

    [Parameter] public List<Folder> Folders { get; set; }


}