<div>
    <ul>
        @foreach (var group in Groups)
        {
            <GroupItemComponent Folder="group" />
        }
    </ul>
</div>

@code {

    [Parameter] public List<Folder> Groups { get; set; }


}