@page "/foldertree"
@inject FileSystemAccessService FileSystemAccessService;

<h3>FolderTreeComponent</h3>

<FolderTreeComponent Groups="@Groups" />

<button @onclick="OpenDictoryPicker">Open Directory Picker</button>
<br />

@code {
    private FileSystemDirectoryHandle? directoryHandle = null;
    private int entitiesChecked = 0;
    private Entity rootEntity = new(FileSystemHandleKind.Directory, null);

    protected async Task OpenDictoryPicker()
    {
        try
        {
            var options = new DirectoryPickerOptionsStartInFileSystemHandle();
            directoryHandle = await FileSystemAccessService.ShowDirectoryPickerAsync(options);
        }
        catch (JSException ex)
        {
            Console.WriteLine(ex);
        }
        finally
        {
            if (directoryHandle != null)
            {
                //Create folder base
                var directoryBase = new List<Folder>()
                {
                    new Folder(){ Name = directoryHandle.Name }
                };
                var values = await directoryHandle.ValuesAsync();

                entitiesChecked = 0;
                StateHasChanged();
                var queue = new Queue<(Entity entity, FileSystemDirectoryHandle dir, FileSystemHandle value)>();
                foreach (var value in values)
                {
                    if (value.Kind is FileSystemHandleKind.File)
                    {
                        directoryBase.First().Files.Add( value.Name );
                        //var content = File
                    }
                    else if( value.Kind is FileSystemHandleKind.Directory)
                    {
                        directoryBase.First().SubFolders.Add(new Folder() { Name = value.Name  }); 
                        var entity = new Entity(value.Kind, value);
                        rootEntity.Children.Add(entity);
                        queue.Enqueue((entity, directoryHandle, value));
                    }
                    
                    entitiesChecked++;
                    StateHasChanged();
                }
                while (queue.Count > 0)
                {
                    var (entity, dir, value) = queue.Dequeue();
                    entitiesChecked += 1;
                    if (value.Kind is FileSystemHandleKind.File)
                    {
                        var fileSystemHandle = await dir.GetFileHandleAsync(value.Name);
                        File file = await fileSystemHandle.GetFileAsync();
                        entity.Size = file.Size;
                        //Add file to logic structure
                        //file
                        var parentFolder = SearchParentFolders(directoryBase, dir.Name);
                        parentFolder?.Files.Add( value.Name );
                    }
                    else if (value.Kind is FileSystemHandleKind.Directory)
                    {
                        var fileSystemDirectoryHandle = await dir.GetDirectoryHandleAsync(value.Name);

                        var innerValues = await fileSystemDirectoryHandle.ValuesAsync();
                        foreach (var innerValue in innerValues)
                        {
                            var pFolder = SearchParentFolders(directoryBase, value.Name);
                            if (innerValue.Kind is FileSystemHandleKind.File)
                            {
                                
                                pFolder?.Files.Add( innerValue.Name );
                            }
                            else
                            {
                                //Add to the logic structure
                                pFolder?.SubFolders.Add(new Folder() { Name = innerValue.Name });
                                var innerEntity = new Entity(innerValue.Kind, innerValue);
                                entity.Children.Add(innerEntity);

                                queue.Enqueue((innerEntity, fileSystemDirectoryHandle, innerValue));
                            }
                        }
                    }
                    StateHasChanged();
                }
                Groups = directoryBase;
            }
        }
    }

    protected class Entity
    {
        public Entity(FileSystemHandleKind Kind, FileSystemHandle? Handle)
        {
            this.Kind = Kind;
            this.Handle = Handle;
            Children = new();
        }
        public FileSystemHandleKind Kind { get; set; }
        public FileSystemHandle? Handle { get; set; }
        public ulong Size { get; set; }
        public List<Entity> Children { get; set; }
    }

    public List<Folder> Groups { get; set; } = new List<Folder>();

    private Folder? SearchParentFolders(List<Folder> allFolders, string? parentName)
    {
        foreach (var folder in allFolders)
        {
            if (folder.Name == parentName)
            {
                return folder;
            }
            else
            {
                var found = SearchParentFolders(folder.SubFolders, parentName);
                if(found != null)
                {
                    return found;
                }
            }
        }

        return null;
    }
}
