<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">POC Folder Structure</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-folder" aria-hidden="true"></span> Folder Tree JS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="folder-component">
                <span class="oi oi-folder" aria-hidden="true"></span> Folder Tree
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foldertree">
                <span class="oi oi-folder" aria-hidden="true"></span> Folder Tree
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foldertreeview">
                <span class="oi oi-folder" aria-hidden="true"></span> Folder Telerik Tree View
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload-chunk-file">
                <span class="oi oi-folder" aria-hidden="true"></span> Upload Chunk File
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uploadblazorfile">
                <span class="oi oi-folder" aria-hidden="true"></span> Upload Blazor file
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uploaddata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Upload files front
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uploaddataback">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Upload files back
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maui">
                <span class="oi oi-folder" aria-hidden="true"></span> MAUI framework
            </NavLink>
        </div>*@

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
